@model IEnumerable<WMS_ADIB.Models.GoodsReceivingNote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRNDeliverUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRNInspectUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GRNReceiveUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrder.POId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRNDeliverUser.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRNInspectUser.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRNReceiveUser.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GRNID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GRNID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GRNID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
