@model WMS_ADIB.Models.PurchaseRequisition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseRequisition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseRequstionRequestedByUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseRequstionRequestedByUser.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseRequstionAuthorizedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseRequstionAuthorizedBy.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PRNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
