@model WMS_ADIB.Models.AssetDisposal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssetDisposal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDisposed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDisposed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Branch.BranchName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisposedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisposedBy.Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisposalApprovedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisposalApprovedBy.Role)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DisposalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
