@model IEnumerable<WMS_ADIB.Models.AssetReturn>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReturned)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetReturnReceivedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetReturnApprovedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReturned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetReturnReceivedBy.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetReturnApprovedBy.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReturnID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReturnID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReturnID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
