@model IEnumerable<WMS_ADIB.Models.AssetTransfer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FromBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToBranch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTransferred)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetTransferAuthorizedByUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FromBranch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToBranch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTransferred)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetTransferAuthorizedByUser.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransferID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransferID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransferID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
